.gallery-section {
    min-height: max-content;
    height: auto;
    background: $main-background;
    border-top: 1px solid $sec-title-color;

    #{&}-container {
        position: relative;
        height: auto;
        padding: 5%;
    }

    #{&}-title {
        position: relative;
        margin:auto;
        text-align: left;
        padding: 1rem 1rem 0.5rem 1rem;
        width: max-content;
        color: $main-title-color;
        

        & h2 {
            font-size: 4rem;
            letter-spacing: 0.5rem;
            margin-bottom: 2rem;
            //text-shadow: 2px 2px 0px $sec-background;

            ::before {
                content: '';
                display: block;
                position:absolute;
                top:0;
                right:100%;
                border-right: 1px solid $main-title-color;
            }
        }
    }

    /*masonry grid
    #{&}-grid {
        margin: 0 auto;
        height: 100%;

        &-item {
            width: 350px;
            height: auto;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-size: cover;
                background-position: center center;
                transition: transform 0.3s ease;
            }
        
            img:hover {
                transform: scale(1.015);
            }
        }
    }*/
    #{&}-grid {
        display: grid;
        place-items: center;
        gap: 20px;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));

        &-item {
            width: 250px;
            height: 350px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-size: cover;
                background-position: center center;
                transition: transform 0.3s ease;
            }
        
            img:hover {
                transform: scale(1.015);
            }
        }
        
    }
}