.gallery-section {
    background: $main-background;
    border-top: 1px solid $sec-title-color;
    #{&}-container {
        position: relative;
        height: 100%;
        padding: 5%;
    }

    #{&}-title {
        position: relative;
        margin:auto;
        text-align: left;
        padding: 1rem 1rem 0.5rem 1rem;
        width: max-content;
        color: $main-title-color;
        

        & h2 {
            font-size: 4rem;
            letter-spacing: 0.5rem;
            //text-shadow: 2px 2px 0px $sec-background;

            ::before {
                content: '';
                display: block;
                position:absolute;
                top:0;
                right:100%;
                border-right: 1px solid $main-title-color;
            }
        }
    }
}