.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    height: 10dvh;
    align-items: center;
    transition: 0.30s ease-out;
    z-index: 998;

    #{&}-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #{&}-header {
        color: $main-title-color;
        font-size: 3rem;
        margin-left: 3vw;

        & a {
            color: $main-title-color;
            font-size: 3rem;
            letter-spacing: 0.2rem;
            text-decoration: none;
        }
    }

    #{&}-menu, .sidebar-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        & li {
            margin-inline: 1rem;
            letter-spacing: 0.050rem;
        }

        & a {
            color: #fff;
            text-decoration: none;
            font-size: 1.5rem;
            border-bottom: 1px solid transparent;
            transition: border-bottom 0.75s ease;
            padding-bottom: 0.2rem;

            &:hover {
                border-bottom: 1px solid $sec-title-color;
            }            
        }
        
        & .hidden {
            display: none;
        }

        & .active {
            border-bottom: 1px solid $sec-title-color;
        }
    }

    #{&}-social, .sidebar-social {
        display: flex;
        gap: 1rem;
        margin-right: 3vw;

        & .fa-brands {
            color: $sec-title-color;
            font-size: 1.5rem;

            &:hover {
                color: darken($sec-title-color, 10%);
            }
        }
    }

    #{&}-menu-controller, .sidebar-menu-controller {
        display: none;
        color: $main-font-color;
        margin-right: 3vw;

        & a {
            color: $main-font-color;
            font-size: 2rem;
            text-decoration: none;
            &:hover {
                color: darken($main-font-color, 10%);
            }
        }  
    }
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    height: 100dvh;
    align-items: center;
    transition: 0.40s ease-out;
    z-index: 998;
    background-color: $main-background;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: right 0.40s ease-out;

    #{&}-menu-controller {
        display: block;
        margin-inline: 1rem;
        margin-top: 1rem
    }

    & a {
        width: 100%;
        font-size: 2.5rem!important;
        margin-block: 1rem;
    }

    & li {
        margin-block: 0.2rem
    }

    & .sidebar-menu {
        flex-direction: column;
        width: 100%;
    }

    & .sidebar-social {
        margin-inline: 1rem;
        width: -moz-fill-available;
        width: -webkit-fill-available;
        gap: 0;
        justify-content: space-between;

        & .fa-brands {
            font-size: 2rem;
        }

        & a {
            width: auto!important;
            margin: 0;
        }
    }
}

.scrolled {
    background-color: $main-background;
    box-shadow: 0 2px 4px rgba(1, 1, 1, 0.5);
}





@media (max-width: 820px) {
    .hideonmobile {
        display: none!important;
    }

    .navbar-menu-controller {
        display: block!important;
    }
}

@media (max-width: 400px) {

    .sidebar {
        width: 100%;
        right: -100vw;
    }
}