
/* title: dxgotha, text: fieldgothic */

$sky-blue: rgba(119, 197, 213, 1);
$tiffany-blue: rgba(120, 214, 199, 1);
$ruddy-blue: rgba(120, 169, 214, 1);
$celadon: rgba(120, 214, 167, 1);
$vista-blue: rgba(120, 139, 214, 1);
$buff: rgba(214, 163, 120, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

$main-color: $sky-blue;
$sec-color: $buff;

$main-background: $black;
$sec-background: $white;

$main-font-color: $white;
$sec-font-color: $black;

$main-title-color: $main-color;
$sec-title-color: $sec-color;

$scrollbar: rgba(120, 169, 214, 0.5);
$scrollhover: rgba(120, 169, 214, 0.3);